table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
mat-card{
  margin-bottom: 20px;
  margin-top: 3px;
}  

mat-card mat-icon{
  margin-left: 140vh;
  margin-top: 2px;

}